body {
    background-color:gainsboro;
}

a {
    text-decoration: none;
}

.hero-section {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.logotext {
    font-family: 'Rubik Mono One', sans-serif;
}

.explainer {
    background-color: #F8F8F8;
}

.cta {
    background-color: #413F42;
    color: #ffff;
}

/* .registeration-area{
    background-color: #413F42;
} */

.nav-action {
    gap: 50px;
    background-color: red;
}